footer{
    color: var(--clr-accent);
    text-align: center;
}
footer section{
    display: flex;
    width: 100%;
    justify-content: center;
}
.footer-links{
    padding: 0rem 0;
    margin-left: 1rem;
}
footer ul{
    display: flex;
    justify-content: center;
    margin: 0 0 0 0;
}
.footer_link{
    padding: .5em;
    list-style-type:none;
    margin: 0rem ;
    font-weight: var(--bs);
    font-size:1rem;
}
footer a:hover{
    transform: scale(1.2);
}

.footer_link:hover{
    opacity: .7;
    transform: scale(1.1);
}

span.fab{
    font-size: .8rem;
    margin: 0 auto;
}

.copyright{
    font-size:.75rem;
    margin: 0 auto;
    text-transform: uppercase;
    text-align: center;
}
@media screen and (max-width:567px){
    footer section{
        flex-direction: column;
        align-items: center;
    }
    form{
        margin-right: 0;
    }
    span.fab{
        font-size: .75rem;
    }
    .footer-links{
        padding: 0rem 0;
        margin-left: 0;
    }
    .footer_link{
        font-size: 1rem;
    }
    .fa-fw{
        width:1.1rem;
        margin:0 .5rem ;
    }
}
