footer{
    background: var(--clr-dark); 
    color: var(--clr-accent);
    text-align: center;
    font-size: var(--fs-h3);
    clip-path: polygon(0% 0%, 50% 10%, 100% 0%, 100% 100%, 0% 100%);
    width: 100%;
}
footer>div{
    padding-top: 5rem;
}
footer .contact-title{
color: white;
margin: 0 auto .8rem auto;   
}
footer .underline{
    background: var(--clr-light);
}

footer section{
    display: flex;
    width: 100%;
    justify-content: center;
}
form{
    margin-right: 1rem;
}
.input-control{
    margin: 1rem 0;
}
.input-control label{
    font-size: 1.2rem;
    margin-right: .25rem;
    display: block;
    text-align: left;
}
footer input,
footer textarea{
    width: 300px;
    border-radius: 5px;
    padding: .25rem .5rem;
    border: none;
    outline: 2px solid var(--clr-dark);
    font-size: 1.1rem;
}
input{
    height: 1.875rem;
}
textarea{
    height: 100px;
}
.input-control {
    justify-self: left;
    text-align: left;
}
input:focus,input:active,
textarea:focus,textarea:active{
    border: none;
    outline: 2px solid var(--clr-accent);
}
.invalid input,
.invalid textarea{
    outline: 2px solid red;
}
.success{
    font-size: .9rem;
    max-width: 300px;
}

.footer-links{
    padding: 2rem 0;
    margin-left: 1rem;
}

footer a{
    color: inherit;
    text-decoration: none;

}
footer ul{
    display: flex;
    justify-content: center;
    margin: 1.5rem 0 0 0;
}



.footer_link{
    padding: .5em;
    list-style-type:none;
    margin: .5rem ;
    font-weight: var(--bs);
    font-size:1rem;
}
footer a:hover{
    transform: scale(1.2);
}

.footer_link:hover{
    opacity: .7;
    transform: scale(1.1);
}

span.fab{
    font-size: .8rem;
    margin: 0 auto;
}

.copyright{
    font-size:.75rem;
    margin: 0 auto;
    text-transform: uppercase;
    padding: 1rem;
}
@media screen and (max-width:567px){
    footer section{
        flex-direction: column;
        align-items: center;
    }
    form{
        margin-right: 0;
    }
    span.fab{
        font-size: .75rem;
    }
    .footer-links{
        padding: 0rem 0;
        margin-left: 0;
    }
    .footer_link{
        font-size: 1rem;
    }
    .fa-fw{
        width:1.1rem;
        margin:0 .5rem ;
    }
}
