.header-banner{
    display: flex;
    flex-direction: column;
    background:#232323;
    position: relative;
    height: 100vh;
    height: calc(100vh - 75px);
    width: 100%;
    margin: 0;
    padding:0;
    color:#222 ;
    overflow-x: hidden;
}
.intro-main-container{
    width:100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
/*====end of header====*/