.header-banner{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    margin: 0;
    padding:0;
    overflow-x: hidden;
}
.intro-main-container{
    width:100vw;
    height: 100%;
    justify-content: center;
    align-items: center;
    
}
.descriptive-img{
  width:100%;
  height: 50vh;
  background:url("https://img.freepik.com/free-photo/rear-view-programmer-working-all-night-long_1098-18697.jpg?size=626&ext=jpg&ga=GA1.2.348767858.1655273418") center/cover fixed;
  background:url("https://images.pexels.com/photos/270632/pexels-photo-270632.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") center/cover fixed;

}
/*====end of header====*/