.my_services{
    width:100vw;
    width: 100%;
}
.services{
    margin-bottom: 0rem;
    overflow: hidden;
    
}
.services *{
    overflow-x: hidden;
}

h3.front-end-title{
    margin: 1em 0;
    color: #56e7d4;
}

section.my_services{
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;
    margin-bottom: 4em;
    overflow: hidden;
}
.section_title_services{
    color: var(--clr-accent);
}
.my_services .underline{
    background: var(--clr-light);
}
.services_text{
    max-width: 600px;
}



@media (min-width:800px){
    .services{
        margin:auto ;
        margin-bottom: 1.5rem;
        display: flex;
        max-width: 1000px;
        align-items: center;
}
.services img {
    max-width: 500px;
}
.services p {
    margin-left: 1rem;
}
    .service{
        max-width: 500px;
        margin: 1em;
    }
    
    
}
@media screen and (max-width:800px){
    .services img{
        margin-bottom: 1rem;
    }
    .btn{
        margin: 1rem 0;
    }
}