
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&family=Pacifico&family=Satisfy&display=swap');
/*custom properties*/
:root{
    --fw-reg:300;
    --fw-bold:900;

    --clr-light:#fff;
    --clr-lightGray:#232323;
    --clr-secondary-dark:#344e41;
    --clr-dark:#232323;
    --clr-dark:#17171F;
    --clr-lightDark:#233d30;
    --clr-accent:#9191A4;

    --clr-btn3:#5a5af7;
    --clr-btn2:#1717f3;
    
    --clr-input:#2A2A35;
    --clr-input-border:#565666;

    --clr-nav:#404053;

    --fs-h1:3rem;
    --fs-h2:2rem;
    --fs-h3:1.25rem;
    --fs-body:1rem;

    --bs:0.25em 0.25em 0.75em rgba(0,0,0,0.25),
        0.125em 0.125em 0.125em rgba(0,0,0,0.15);   

    --transition: all 300ms linear;
}

@media(min-width:880px){
    :root{
    --fs-h1:3rem;
    --fs-h2:2.5rem;
    --fs-h3:1.5rem;
    --fs-body:1rem
    }
}


/*general properties*/
body,html{
font-family: sans-serif;
scroll-behavior: smooth;
font-family: 'Merriweather Sans', sans-serif;
}

*,
*::before,
 *::after,
body{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
body{
    background:var(--clr-dark);
    font-size: var(--fs-body);
    line-height: 1.6;
    font-family: 'Merriweather Sans', sans-serif;
}

html{
    scroll-behavior: smooth;
}

section{
    padding: 1em 1em;
}

@media(min-width:880px){
    section{
        padding: 2em;
    }
}

img{
    display: block;
    max-width: 95%;
    margin: auto;
}

h1,h2,h3{
    line-height: 1.1;
    margin: 0;
}

h1{font-size: var(--fs-h1);}
h2{font-size: var(--fs-h2);}
h3{font-size: var(--fs-h3);}

a{
    text-decoration: none;
    color: inherit;
}

.section_title{
    margin-bottom: 0.25em;
    font-size: 1.75rem;
    text-align: center;
    color: var(--clr-accent);
}

.section_title_intro{
    color: var(--clr-accent);
    font-size: 1.55rem;
    font-weight: var(--fw-reg);
}


.section_subtitle_intro,
.section_subtitle_about{
    background-color: var(--clr-accent);
    font-family: var(--ff-secondary);
    padding: 0.25em;
}
.underline{
    width: 75px;
    height: 2px;
    margin: 0 auto 1.5rem auto ;
    background: var(--clr-light);
    
}

.btn{
    display: inline-block;
    padding: .2rem .5rem;
    color: var(--clr-light);
    text-decoration: none;
    background-color: var(--clr-btn3);
    border-radius: 5px;
    font-size: 1.25rem;
    text-transform: capitalize;
    letter-spacing: 2px;
    letter-spacing: 1.5px;
    font-weight: var(--fw-bold);
    transition: all 300ms ease-in-out; 
    border: 1px solid var(--clr-btn);
    outline: none;
    cursor: pointer;
    box-shadow: 2px 2px 5px #000;
}
.btn:hover{
    color: var(--clr-light);
    background-color: var(--clr-btn2);
    outline: none;
    transform: translate(0px,-3px) !important;
}

/* scroll bar */
::-webkit-scrollbar {
    width: 10px;
    border-radius:100%;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--clr-lightGray);
}

/* Handle */
::-webkit-scrollbar-thumb {

  background: var(--clr-accent);
  border-radius:50px;
}
@media (max-width:567px){
    .btn{
        padding: .25rem .5rem;
        font-size: 1rem;
    }
    .underline{
        width:75px;
    }
    .section_title{
        font-size: 1.5rem;
    }
}

/* =======================end of global variables================ */
